/*Settings*/
$max-row: 1140px;
$gutters: 30px;
$total_columns: 12;
$base: 16px;

/*Grid*/
$slug-row-grid: row !default;
$slug-col-grid: col !default;
$slug-in-cols: in-cols !default;
$slug-no-gutters: no-gutters !default;
$slug-centered: centered !default;